/*-- scss:defaults --*/
$h1-font-size:          1.8rem !default;
$h2-font-size:          1.4rem !default;
$h3-font-size:          1.1rem !default;
$font-size-base:          0.9rem !default;
$headings-font-weight:  500 !default;

/*-- scss:rules --*/
// h1, h2, h3, h4, h5, h6 {
//     text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
//   }

// p {
//     font-size: 14px;
//   } 
// p {
//     font-size: 0.8rem;
//   }  

// pre, code, .sourceCode {
//     font-size: 0.8rem;
// } 